@import url('css/global/reset.css');

@import url('css/global/cores.css');
@import url('css/global/global.css');

@import url('css/sections/header.css');
@import url('css/sections/sobre.css');
@import url('css/sections/projetos.css');