:root {
  --cor-branco: #fff;
  --cor-preto: #1b1b1b;
  --cor-laranja: #f0340bc7;
  --cor-cinza-1: #6c757d;
  --cor-cinza-2: #6c757d;
  --cor-cinza-3: #4c4d4d;
  --cor-cinza-4: #343a40;
  --cor-cinza-5: #212529;
}


/* 
#304977
#28A4DD
#B9584F
#D4BF4C 
#F5F0F1
*/
