.contato {
  background-color: var(--cor-cinza-4);
  text-align: center;
  padding-top: 2rem;
}

.contato h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0.5rem 0 2rem 0;
}

.icon-lista {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-bottom: 2.5rem;
  font-size: 20px;
}

.icon-img img {
  margin-bottom: 0.8rem;
}