.footer {
  padding: 1rem 0;
}
.footer p {
  text-align: center;
  margin: 1rem auto; 
}

.footer a {
  color: var(--orange);
}

@media screen and (min-width: 620px) {
  .footer p {
    font-size: 22px;
  }
}