header {
  border-bottom: 0.1rem solid rgb(240, 52, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.3rem;
}

.nav input[type="checkbox"] {
  display: none;
}

.nav {
  color: var(--white);
}

.menu-esq {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
}

.menu-esq h1 {
  font-size: 22px;
}

.menu-align {
  padding: 1.5rem 1rem;
}

.menuHamburguer {
  background-image: url("../../img/header/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 1.5rem;
}

.menu-lista {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: var(--black);
  opacity: 0.99;
}

.container-btn:checked ~ label span {
  transform: rotate(90deg);
}

.container-btn:checked ~ .menu-lista {
  display: block;
  padding: 1.5rem 0;
}

.menu-lista_item {
  padding: 1.5rem 2rem;
}

.menu-lista_link {
  display: flex;
  font-size: 22px;
  align-items: center;
  padding: 10px 0;
  margin-left: 1.5rem;
}

.menu-icon {
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 2.5rem;
}

.icon-sobre {
  background-image: url('../../img/header/nav-sobre.svg');
}

.icon-projetos {
  background-image: url('../../img/header/nav-projetos.png');
}

.icon-contato {
  background-image: url('../../img/header/nav-contato.png');
}

@media screen and (min-width: 620px) {
  header {
    margin-bottom: 4rem;
  }
  
 .menu-esq h1 {
    font-size: 32px;
  }
  
  .menu-lista_item {
    padding: 2.5rem 2rem;
  }
}