header {
  border-bottom: 0.1rem solid rgb(240, 52, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.3rem;
}

.nav input[type="checkbox"] {
  display: none;
}

.nav {
  color: var(--cor-branco);
}

.menu-esq {
  font-size: 22px;
  font-weight: bold;
  color: var(--cor-branco);
}

.menu-align {
  padding: 1.5rem 1rem;
}

.menuHamburguer {
  background-image: url("../../img/header/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 1.5rem;
}

.menu-lista {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: var(--cor-preto);
  opacity: 0.99;
}

.container-btn:checked ~ label span {
  transform: rotate(90deg);
}

.container-btn:checked ~ .menu-lista {
  display: block;
  padding: 1.5rem 0;
}

.menu-lista_item {
  padding: 1rem 2rem;
}

.menu-lista_link {
  display: flex;
  font-size: 22px;
  align-items: center;
}

.menu-lista_link img {
  margin-right: 1.2rem;
}