.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.intro h2 {
  font-size: 42px;
  margin-bottom: 12px;
  font-family: var(--font-secundaria);
}

.ponto-destaque {
  color: var(--orange);
}

.intro img {
  border-radius: 50%;
}

@media screen and (min-width: 620px) {
  .intro {
    margin-bottom: 3.5rem;
  }
  .intro h2 {
    text-align: center;
  }

  .intro h2 {
    letter-spacing: 1px;
  }

  .intro img {
    max-width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 2rem auto;
    max-width: 1300px;
  }

  .intro-container {
    margin: 0 auto;
  }

  .intro h2 {
    text-align: left;
    font-size: 42px;
    margin-bottom: 12px;
    font-family: var(--font-secundaria);
  }

  .ponto-destaque {
    color: var(--orange);
  }

  .intro img {
    border-radius: 50%;
  }

  .img {
    margin: 0 0 0 auto;
  }
}
