.sobre {
  color: var(--white);
  text-align: center;
  padding-top: 3rem;  
}

.sobre-container {
  display: flex;
  margin: 0 1.3rem;
  flex-direction: column;
  align-items: center;
}

.sobre-titulo-sessao {
  font-size: 20px;
}

.sobre-subtitulo-sessao {
  font-weight: 700;
  font-size: 32px;
  margin: 0.5rem 0 1.5rem 0;
  font-family: var(--font-secundaria);
}

.sobre-texto {
  line-height: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 620px) {
  .sobre {
    padding-top: 4rem;  
  }

  .sobre-container {
    margin: 0 2rem;
  }

  .sobre-titulo-sessao {
    font-size: 36px;
  }
  
  .sobre-subtitulo-sessao {
    font-size: 56px;
    margin-bottom: 2.5rem;
  }

  .sobre-texto {
    font-size: 24px;
    line-height: 2rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .sobre-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .sobre-titulo-sessao {
    font-size: 28px;
  }
  
  .sobre-subtitulo-sessao {
    font-size: 52px;
    margin: 0.5rem 0 3rem 0;
  }
  
  .sobre-texto {
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 4rem;
  }
}