.sobre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row-gap: 36px;
  padding: 25px;
  margin-bottom: 10px;
}

.sobre h2 {
  font-size: 42px;
  margin-bottom: 12px;
}

.sobre p {
  font-size: 18px;
}

.sobre img {
  border-radius: 50%;
  border: 2px solid var(--cor-azulClaro)
}